ENVIRONMENT=DEVELOP
API_URL=https://example.com

ANDROID_APP_NAME=app_name
ANDROID_APP_ID=com.example.dev
ANDROID_APP_VERSION_NAME=0.0.1
ANDROID_APP_VERSION_CODE=1

IOS_APP_NAME=app_name
IOS_APP_ID=com.example.dev
IOS_APP_VERSION_CODE=0.0.1
IOS_APP_BUILD_CODE=1
